<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="Senparc.Weixin" version="4.20.2" targetFramework="net45" />
  <package id="Senparc.Weixin.QY" version="3.3.4" targetFramework="net45" />
  <package id="Senparc.Weixin.Work" version="1.3.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>